
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

 

@using (Html.BeginForm("Add", "Test", FormMethod.Post))
{
    <label for="One">Enter Number</label>
    <input type="text" id="One"><br>
    <label for="Two">Enter Number</label>
    <input type="text" id="Two"><br>

    <input type="submit" value="Add" style='width:150px' />
}
